{% extends 'base.html.twig' %}
{% form_theme form 'BshdevBundle:template:form.html.twig' %}

{% block body %}
    <h1 class="title">Je modifie une offre d'emploi</h1>

    <div class="row block-form">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}

            <input type="submit" value="J'édite l'offre !" class="col-xs-offset-5 col-xs-4 button" />

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
