{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nos offres d'emploi</h1>
    {% for job in jobs %}
        <section class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8 backWhite">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ job.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ job.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-5 col-xs-2">
                <a href="{{ path('career_new') }}"><button type="submit" class="button">Je postule !!!</button></a>
                    </div>
            </div>
        </section>

    {% endfor %}
{% endblock %}
