<footer class="navbar navbar-default">
	<div class="row">
        {#<div class="col-xs-12">#}
        {#<p class="copyright">&copy 2017 BSHDEV - 96 avenue Maurice Maunoury - 28600 LUISANT</p>#}
        {#</div>#}
        {#<div class="row">#}
		<div class="social col-xs-offset-1 col-xs-10">
			<div class="row">
				<a href="http://facebook.com/ondrej.p.barta" class="link facebook col-xs-offset-1 col-xs-2 img-responsive" target="_parent"><span class="fa fa-facebook-square"></span></a>
				<a href="https://twitter.com/PageOnlineXS" class="link twitter col-xs-offset-1 col-xs-2 img-responsive" target="_parent"><span class="fa fa-twitter"></span></a>
				<a href="https://plus.google.com/+OndřejBárta-Otaku" class="link google-plus col-xs-offset-1 col-xs-2 img-responsive" target="_parent"><span class="fa fa-google-plus-square"></span></a>
			</div>
		</div>
	</div>


</footer>