<footer>
  <div class="row">
    <div class="col-xs-12">
      <p class="copyright">&copy 2017 BSHDEV - 96 avenue Maurice Maunoury - 28600 LUISANT</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img src="{{ asset('bundles/bshdev/img/Facebook.png') }}" alt="Facebook" class="img-responsive col-xs-offset-11 col-xs-1">
    </div>
    <div class="col-xs-6">
      <img src="{{ asset('bundles/bshdev/img/Linkedin.png') }}" alt="Linkedin" class="img-responsive col-xs-1">
      <img src="{{ asset('bundles/bshdev/img/viadeo.png') }}" alt="Viadeo" class="img-responsive col-xs-1">
    </div>
  </div>
</footer>
