<footer class="navbar navbar-default">
	<div class="row">
		<div class="col-xs-12">
			<p class="copyright">&copy 2015 BSHDEV - 96 avenue Maurice Maunoury - 28600 LUISANT</p>
		</div>
	</div>

</footer>